.header{
    background-color: rgb(44, 51, 49);
    border-radius: 10px;
    margin-top: 0px;
    height: 70px;

}
.header h1{
    color: #fafafa;
    font-size: 50px;
    font-family: "Honk", system-ui;
    text-align: center;
    margin: auto;
}
.nav{
    display:flex;
    justify-content: center;
    gap: 35px;
}
.nav a{
    font-size: 22px;
    font-family: "Fredoka", sans-serif;
    color: rgb(123, 123, 123);
}
body{
    background-color: rgb(215, 215, 215);
}
.menutitle h1{
    font-family: "Anton", sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px aliceblue;
}
.matliste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.matliste div {
    background-color: rgb(128, 139, 150);
    position: relative;
    width: 160px;
    height: 240px;
    border-radius: 10px;
    border-style: groove;
    border-color: antiquewhite;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.372);
}
.matliste p{
    color: antiquewhite;
    font-size: 20px;
    font-family: "Assistant", sans-serif;
    text-align: center;
    margin: 20px;
    margin-bottom: 10px;
}
.matliste img{
    width: 75px;
    margin-left: 40px;
    margin-right: 50px;
    border-bottom: 0px;
}
.matliste h1{
    color: antiquewhite;
    font-size: 35px;
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    text-align: center;
    margin: 0px;
    margin-left: 25%;
    margin-right: 25%;
    bottom:20px
}

