#overskrift{
    font-size: 50px;
    text-align: center;
}
body{
    background-color: aliceblue;
}
.matliste {
    background-color: rgb(126, 136, 147);
    width: 160px;
    height: 240px;
    display: flex;
    flex-direction: column;
    display: inline-block;
    border-radius: 10px;
    border:7px
}
.matliste p{
    text-align: center;
}
.matliste img{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0px;
}
.matliste h1{
    text-align: center;
    position: relative;
    bottom:0px
}

.firkant {
    border: solid;
    width: 100px;
    height: 100px;
    display: inline-block;
}

