.header{
    background-color: rgb(44, 51, 49);
    border-radius: 10px;
    margin-top: 0px;
    height: 70px;

}
.header h1{
    color: #fafafa;
    font-size: 50px;
    font-family: "Honk", system-ui;
    text-align: center;
    margin: auto;
}
body{
    background-color: aliceblue;
}
.matliste {
    background-color: rgb(92, 92, 92);
    flex-direction: row;
    display: flex;
    display: grid;
    gap: 30px;
}
.matliste div {
    position: relative;
    background-color: rgb(128, 139, 150);
    width: 160px;
    height: 240px;
    border-style: groove;
    border-radius: 10px;
    border-color: antiquewhite;
}
.matliste p{
    color: antiquewhite;
    font-size: 20px;
    font-family: "Assistant", sans-serif;
    text-align: center;
    margin: 20px;
}
.matliste img{
    width: 75px;
    margin-left: 40px;
    margin-right: 50px;
    border-bottom: 0px;
}
.matliste h1{
    color: antiquewhite;
    font-size: 35px;
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    text-align: center;
    margin: 0px;
    margin-left: 25%;
    margin-right: 25%;
    bottom:20px
}

.firkant {
    border: solid;
    width: 100px;
    height: 100px;
    display: inline-block;
}

